SENTRY_DSN=https://a236af32a1934545s822bbfcbf384c@o209289.ingest.sentry.io/222299

SECRET_KEY=django-insecure-0p(qcb(ff1f1uei6_@-$emj^91&djw++i!n9xbovkkg-ktf4%$
DEBUG=True
DB_ENGINE=django.db.backends.postgresql_psycopg2
DJANGO_SETTINGS_MODULE=project_backend.settings.development
ALLOWED_HOSTS=127.0.0.1,localhost
API_VERSION='v1'

DB_NAME=common_project
DB_USER=postgres
DB_PASSWORD=12345
DB_HOST=127.0.0.1
DB_PORT=5432

REDIS_URL=redis://127.0.0.1:6379
CELERY_BROKER_URL=redis://127.0.0.1:6379
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379

# Dont use if you need to create .log in your project folder
#APP_LOG_PATH=/var/log/project_backend
#SECURITY_LOG_PATH=/var/log/project_backend
#CELERY_LOG_PATH=/var/log/project_backend

